{% extends "base.html" %}
{% load static %}


{% block content %}
 
    <div class="container margin-header-wrapper">
        <div class="row">
            <div class="col-12 col-md-6 text-center">
                <hr>
                <h2 class="logo-font">Edit Review</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_review' r.id %}" class="form mb-2 text-center" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <div>
                            <button class="btn action-btn btn-lg rounded-0 mb-3 col-12" type="submit">Update Product</button>
                        </div>
                        <div>
                            <a class="btn second-btn btn-lg rounded-0 col-12" href="{% url 'profile' %}">Cancel</a>
                        </div>                        
                    </div>
                </form>
            </div>            
        </div>
    </div>
    {% include 'includes/footer.html' %}
{% endblock %}