{% extends 'homebase.html' %}
{% load static %}

{% block pageContent %}

<!-- 

    <main class="wrapper">
        <section class="parallaxSegment parallax parallaxPart1">
            <div class="jumbotron jumbotron-fluid">
                <p class="lead">Sometimes you find a hidden gem that just <em>needs</em> to be framed.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Shop now</a>
            </div>
        </section>
        <section class="parallaxSegment static">
            <div class="container">
                <div class="row">
                    <h2 class="col-12">Ready to explore?</h2>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">We have a range products for you to browse through!</p>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">Our pictures range from majestic dragonflies to incredible landscapes.</p>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">Read more about our products in the blog posts attached to them!</p>
                </div>
            </div>
        </section>
        <section class="parallaxSegment parallax parallaxPart2">
            <div class="container">
                <div class="row">
                    <h2 class="col-12">Ready to buy?</h2>
                    <p class="col-12">Choose from a wide range of pictures, frames and canvases!</p>
                    <p class="col-12">Have your own amazing photos? You upload them - we print them!</p>
                </div>
            </div>
        </section>
        <section class="parallaxSegment static">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="col-12">Want to leave a review?</h2>
                    <p class="col-12">If you have bought with us before, please leave a review!</p>   
                </div>

            <hr>
            
           
            <footer>
                <div class="container">
                    <div class="row ">
                        <div class="col-12">
                            <h6 class="footerHeader">Contact us</h6>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
                            <p class="footerContact">Email: </p>
                            <p class="footerContact">emailaddress@gmail.com</p>
                        </div>
                        <div class="col-12  col-md-6 col-lg-4">
                            <p class="footerContact">Phone: </p> 
                            <p class="footerContact">05093718992</p>
                        </div>
                        <div class="col-12">
                            <p class="footerContact"><small>© Copyright 2020</small></p>
                        </div>
                    </div>
                </div>
            </footer>
            </div>
 
        </section>
         
    </main> -->
    <main>
        <section class="parallax">
            <div class="parallaxImage">
                <p class="">Sometimes you find a hidden gem that just <em>needs</em> to be framed.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Shop now</a>
            </div>
        </section>

        <section class="static">
            <div class="container">
                <div class="row">
                    <h2 class="col-12">Ready to explore?</h2>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">We have a range products for you to browse through!</p>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">Our pictures range from majestic dragonflies to incredible landscapes.</p>
                    <div class="explorePicture col-12"></div>
                    <p class="col-12">Read more about our products in the blog posts attached to them!</p>
                </div>
            </div>
        </section>

        <section class="parallax">
            <div class="container parallaxImage">
                <div class="row">
                    <h2 class="col-12">Ready to buy?</h2>
                    <p class="col-12">Choose from a wide range of pictures, frames and canvases!</p>
                    <p class="col-12">Have your own amazing photos? You upload them - we print them!</p>
                </div>
            </div>
        </section>

        <section class="static">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="col-12">Want to leave a review?</h2>
                    <p class="col-12">If you have bought with us before, please leave a review!</p>   
                </div>

            <hr>
            
           
            <footer>
                <div class="container">
                    <div class="row ">
                        <div class="col-12">
                            <h6 class="footerHeader">Contact us</h6>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
                            <p class="footerContact">Email: </p>
                            <p class="footerContact">emailaddress@gmail.com</p>
                        </div>
                        <div class="col-12  col-md-6 col-lg-4">
                            <p class="footerContact">Phone: </p> 
                            <p class="footerContact">05093718992</p>
                        </div>
                        <div class="col-12">
                            <p class="footerContact"><small>© Copyright 2020</small></p>
                        </div>
                    </div>
                </div>
            </footer>
            </div>
        </section>
    </main>

{% endblock %}