{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-12 extra-margin-top hide">
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <p class="mb-0"><i class="far fa-check-circle"></i> {{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <main>
        <div class="jumbotron jumbotron-fluid home-image margin-header-wrapper">
            <div class="container-fluid jumbotronImageTextWrapper jumbotronImageTextWrapper-lg">
                <p class="lead pt-3">Whether it's your photograph or ours, sometimes hidden gems just <em>need</em> to be framed.</p>
                <a class="btn action-btn rounded-0 btn-lg mb-3 shop-now-button" href="{% url 'products' %}" role="button">Shop now</a>
            </div>
        </div>
    </main>  
    {% include 'includes/footer.html' %}           
{% endblock %}