{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="jumbotron jumbotron-fluid home-image margin-header-wrapper">
            <div class="container-fluid jumbotronImageTextWrapper jumbotronImageTextWrapper-lg">
                <p class="lead pt-3">Sometimes you find a hidden gem that just <em>needs</em> to be framed.</p>
                <a class="btn btn-success rounded-0 btn-lg mb-3 shop-now-button" href="{% url 'products' %}" role="button">Shop now</a>
            </div>
        </div>
    </main>  
{% include 'includes/footer.html' %}           
{% endblock %}