/* Index page */
.offer-bar{
    text-align: center;
}

.jumbotron{
    height: calc(100vh - 80px);
    margin: 0;
}

/* Nav */

/* Dark Blue */
.navbar{
    background-color: #2D3142

}

/* Orange */
.offer-bar{
    background-color: #EF8354;
    color: black;
}

/* Light grey */

.jumbotron{
    background-color: #BFC0C0;
}