/* Index page */
.offer-bar{
    text-align: center;
}

.jumbotron{
    height: calc(100vh - 80px);
    margin: 0;
}

/* Nav */

.navbar{
    background-color: #fff;
    color: #004E89;

}

/* Orange */
.offer-bar{
    background-color: #004E89;
    color: white;
}

/* Light grey */

.jumbotron{
    background-color: #BFC0C0;
}
