{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container margin-header-wrapper main-section-container">
    <div class="row">
        <div class="col-12 extra-margin-top text-center">
            <hr>
            <h2 class="logo-font ">Admin Profile</h2>
            <hr>
            {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        <p class="mb-0"><i class="far fa-check-circle"></i> {{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-3">
            <h4>For full site admin, click here: <a class="text-link fw-600" href="/admin">Full admin</a></h4>
        </div>
     
    </div>
    <div class="row">
         
        <div class="col-12 text-center">
              <hr>
            <h4 class="text-link fw-600"><i class="fas fa-plus-circle"></i><a href="{% url 'add_product' %}"> Add product</a></h4>
        </div>
       
        <div class="col-12 text-center">
            <hr>
            <h4>Manage Products</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 adminCategoryWrapper text-center">
            <select class="stripe-style-input ipad-admin-cat rounded" id="adminProductManage">
                <option value="" selected disabled>Choose a category</option>
                {% for cat in categories %}
                    <option value="{{cat.name}}">{{cat.friendly_name}}</option>
                {% endfor %}
            </select>
            <hr id="adminCategoryHR" class="hide">
            <div class="row">
            {% for product in products %}  
                
                <div class="adminCategory{{product.category.name}} allProducts hide col-12 col-md-6 col-lg-4 text-center">
                    
                    <p>Name: {{product.name}} </p>
                    <img class="img-fluid rounded thumbnail" src="{{ product.image_url_mobile }}" alt="Image of {{item.product.friendly_name}}" onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';">
                    <p>SKU: {{product.sku}} </p>
                
                    <div class="row col-12">
                         <div class="col-6 col-md-6 col-lg-6 text-center">
                             <button type="button" class="btn second-btn btn-lg rounded-0" data-toggle="modal" data-target="#deleteProductNumber{{product.id}}">
                                <span>Delete</span>
                            </button>
                        </div>
                        <div class="col-6 col-md-6 col-lg-6 text-center">
                            <a class="btn action-btn btn-lg rounded-0" href="{% url 'edit_product' product.id %}">Edit</a>
                        </div>
                       
                    </div>
                    
                <hr>
                </div>
               
                   <!-- Modal -->
                <div class="modal fade" id="deleteProductNumber{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteProductNumber{{product.id}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteProductNumber{{product.id}}Label">Are you sure you want to remove this?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>              
                            <div class="modal-footer">
                                <button type="button" class="btn second-btn rounded-0" data-dismiss="modal">Close</button>
                                <a id="checkoutButton" href="{% url 'delete_product' product.id %}" class="btn action-btn rounded-0">
                                    <span class="text-uppercase">Delete product</span>                      
                                </a>
                            </div>
                        </div>
                    </div> 
                </div>  
                    
            {% endfor %}
            </div>  
                
        </div>
    </div>

    <div class="row extra-margin-bottom">
        <div class="col-12 text-center">
            <hr>
            <h4>Latest Orders</h4>
            <p>These are the 5 most recent. See the full admin page for more.</p>
            <hr>
        </div>
        {% for order in orders %}
            <div class="col-12 col-md-6 col-lg-4 text-center text-link">
                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                    {{ order.order_number|truncatechars:15 }}
                </a>
                <p>{{ order.date }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'includes/footer.html' %}    
{% endblock %}