{% extends 'base.html' %}
{% load static %}

{% block content %}
   <h1>My Profile</h1>

<div id="availableDownloads">
    <!-- This will be a for loop going through all the products that have are eligble for download for that user.-->
    {% for download in digital_downloads %}
    <div class="dowloadItem">
        <p>Here is your {{download.name}}, {{download.sku}} . Click download to download!</p>
        <p>Product file path is: {{download.product_file_path}}</p>
        <p>It has been downloaded: {{download.number_of_times_downloaded}} times</p>
        
        <a href="/static/images/{{download.product_file_path}}" download>
            <p>Download here</p>
        </a>
    </div>

    {% endfor %}
</div>




{% endblock %}