{% extends 'base_with_lazy_loading.html' %}
{% load static %}


{% block content %}
<div class="container margin-header-wrapper main-section-container">
    <div class="row">
        <div class="col-12 extra-margin-top text-center">
            <hr>
            <h2 class="logo-font ">My Profile</h2>
            <hr>
             {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        <p class="mb-0"><i class="far fa-check-circle"></i> {{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    
    <div class="row mb-3">
        <div class="accordion col-12 col-xl-10 offset-xl-1" id="accordionExample">
            <div class="card col-12 p-0">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-no-effects accordion-header" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Purchased Products
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <h4 class="text-center"><i class="fas fa-exclamation-triangle"></i> Warning! <i class="fas fa-exclamation-triangle"></i></h4>
                        <p class="text-center">You can only visit the download page once. Ensure you are a device that is 
                            suitable to download the image onto.
                        </p>
                        {% include 'profiles/includes/user_available_downloads.html' %}
                        <hr>
                    </div>
                </div>
            </div>
            <div class="card col-12 p-0">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-no-effects accordion-header collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Delivery Information
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <hr class="mt-0">
                        <h4 class="text-center">Delivery Information</h4>
                        <hr>
                        <div class="mt-4"> 
                        <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                            {% csrf_token %}
                            <div class="text-center">
                            {{ form|crispy }}
                            
                            <button class="btn action-btn btn-lg rounded-0">Update Information</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="card col-12 p-0">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-no-effects accordion-header collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Order History
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        {% include 'profiles/includes/user_order_history.html' %}  
                         <hr>        
                    </div>
                </div>
            </div>

            <div class="card col-12 p-0">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn btn-no-effects accordion-header collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                            Reviews
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                       {% include 'reviews/includes/user_review_history.html' %}
                       <hr>
                    </div>
                </div>
            </div>
               
            <div class="card col-12 p-0">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn btn-no-effects accordion-header collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Uploaded images
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        {% include 'profiles/includes/user_photos_list.html' %}
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}











 
         



 

   

    





{% endblock %}