{% extends "base_with_stripe.html" %}
{% load static %}
<!--  You need to include basket tools here. -->

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
 
    <div class="container margin-header-wrapper ">
        <div class="row">
            <div class="col-12 extra-margin-top">
                <hr>
                    <h2 class="logo-font checkout-header">Checkout</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-2 text-left p-0">
                        <p class="mb-1 mt-0 small" >Item</p>
                    </div>
                     <div class="col-7">
                        <p class="mb-1 mt-0 small">Product</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small">Subtotal</p>
                    </div>
                
                {% for item in basket_items %}
              
                    <div class="row checkout-item-wrapper">
                        <div class="col-2  p-0 ">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image_url_mobile %}
                                    <img class="w-100" src="{{ item.product.image_url_mobile}}" alt="{{ product.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.product.friendly_name }}</strong></p>
                            <p class="my-0 small text-muted">Qty: {{ item.item.quantity }}</p>
                            {% if item.item.digital_download %}
                            <p class="my-0 small text-muted">Delivery : Digital</p>
                            {% else %}
                            <p class="my-0 small text-muted">Delivery : Delivery</p>
                            {% endif %}
                            <div class="row">
                                {% if item.product.product_type == "container" %}
                                <div class="col-12 p-0">
                                    <p class="text-muted my-0 small">Linked Products</p>
                                </div>
                                  {%for g in item.item.linked_products%}
                            {% if g != 'Not linked' %}
                                {% if g != 'Not available' %}
                                    <div class="col-6 col-lg-3 linked-products-div">
                                        <small>{{g|truncatechars:8}}</small>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                            </div>
                             
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">${{item.subtotal}}</p>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-0">
                <div class="row checkout-summary-wrapper">
                    <div class="col-7 col-md-6 ">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                         
                    </div>
                    </div>
                    <div class="col-3 col-md-6 text-md-left">
                        <p class="my-0">${{ total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>${{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-lg-6">
                <hr class="mt-0 d-lg-none">
                <p class="text-center">Please fill out the form below to complete your order.</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded  text-center px-3 mb-2 mt-2">
                        <legend class="fieldset-label px-2 w-auto">Details</legend>
                        {{ order_form.full_name  }}
                        {{ order_form.email  }}
                    </fieldset>
                    <fieldset class="rounded text-center px-3 mb-3">
                        <legend class="fieldset-label px-2 w-auto">Delivery</legend>
                        {{ order_form.phone_number  }}
                        {{ order_form.country  }}
                        {{ order_form.postcode  }}
                        {{ order_form.town_or_city  }}
                        {{ order_form.street_address1  }}
                        {{ order_form.street_address2  }}
                        {{ order_form.county  }}
                        <div class="form-check form-check-inline mt-1">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-link" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-link" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3 mb-3">
                        <legend class="fieldset-label text-center px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                         <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-link" id="card-errors" role="alert"></div>
                        <p class="small text-link text-center my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
						</p>
                    </fieldset>
                    
                    <div class="row">
                    <div class="submit-button text-center mt-2 mb-3 col-12"> 
                        <button id="submit-button" type="submit" data-toggle="modal" data-target="#loadingModal" class="btn rounded-0 action-btn mb-3 btn-lg col-12 col-md-6 col-lg-7 col-xl-6 extra-margin-bottom">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>                   
						<a href="{% url 'view_basket' %}" class="btn col-12 col-md-6  col-lg-7 col-xl-6 second-btn btn-lg extra-margin-bottom rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust basket</span>
						</a>
						
						
                    </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loadingModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The webpage is loading. Please be patient.
      </div>
      <div class="modal-footer">
  
      </div>
    </div>
  </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}

{% block stripeJS %}
{{ block.super}}
    {{stripe_public_key|json_script:"id_stripe_public_key"}}
    {{client_secret|json_script:"id_client_secret"}}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}