{% extends "base_with_stripe.html" %}
{% load static %}

{% block content %}
<main class="main-section-container">
<div class="container margin-header-wrapper">
    <div class="row">
        <div class="col-12 extra-margin-top">
            <hr>
            <h2 class="logo-font basket-header">Shopping Basket</h2>
            <hr>
        </div>    
    </div>
</div>


{% if basket_items %}      
    {% for item in basket_items %}
    <div class="container basket-container  d-md-none">   
        <div class="row">
            <div class="col-12 mb-3">
                {% if item.item.repeats_found == 'None' %}
                 <p class="mb-0">{{ item.product.friendly_name}} </p>
                 {{basket_item_id}}
                {% else %}
                 {{basket_item_id}}
                  <p class="mb-0">{{ item.product.friendly_name}}</p>
                  <small><i class="fas fa-exclamation-triangle"></i> This products has repeated pictures associated with it.</small>
                {% endif %}
            </div> 
            <div class="col-10">
                <img class="img-fluid rounded thumbnail" src="{{ item.product.image_url_mobile }}" alt="Image of {{item.product.friendly_name}}" onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';"/>
            </div>
            <div class="col-2" >
                <button type="button" class="btn second-btn" data-toggle="modal" data-target="#basketModal{{item.item.basket_item_id}}S">
                <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>                    
            <div class="col-6">
                <p class="basket-info">Qty: {{ item.item.quantity }}</p>
            </div>
            <div class="col-6">
                <p class="basket-info">Price: £{{ item.product.discount_price }}</p>
            </div>                         
            <div class="col-6">
                <p class="basket-info">SKU: {{ item.product.sku|upper }}</p>
            </div>
            <div class="col-6">
                <p class="basket-info">Sub-total: £{{ item.subtotal }}</p>
            </div>
            <div class="col-12">
                {% if item.digital_download == "on" %}
                    <p class="basket-info">Digital download</p>
                {% else %}
                    <p class="basket-info">Delivery</p>
                {% endif%}
            </div>
            {% if item.product.product_type == 'container' %}
                <div class="linked-products-basket-wrapper col-12">
                    <div>
                        <hr class="smaller-hr">
                        <p>Linked Products</p>
                    </div>
                    <div>
                        {%for g in item.item.linked_products%}
                            {% if g != 'Not linked' %}
                                {% if g != 'Not available' %}
                                    <div class="col-4 linked-products-div">
                                        <p>{{g}}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
        </div>
        <hr>
    </div>
    <!-- Edit basket Modal -->
    <div class="modal fade" id="basketModal{{item.item.basket_item_id}}S" tabindex="-1" role="dialog" aria-labelledby="basketModal{{item.item.basket_item_id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="editBasketHeader" class="modal-header editBasketBodyTrigger text-center">
                <h3 class="modal-title w-100" id="exampleModalLabel">Edit Basket Item</h3>
            </div>
            <div id="editBasketModalBody" class="modal-body text-center pb-0 editBasketBody">
                <form method="POST" action="{%url 'edit_basket' %}">
                {% csrf_token%}
                <h3>Quantity</h3>
                <div class="input-group mb-3">
                    <input id="basket-item-quantity{{ forloop.counter0}}" class="form-control  qty_input" type="number" name="basket_quantity" value="{{item.item.quantity}}" min="0" max="99" data-item_id="" >
                </div>
                
                {% if item.product.product_type == 'photo' %}
                <h3>Delivery Type</h3>
                <select id="basket-item-delivery{{ forloop.counter0}}" name="basket_digital_download" class="form-control">
                    {% if item.digital_download == "on" %}
                    <option value="None">Delivery</option>
                    <option selected value="on">Digital Download</option>
                    {% else %}
                    <option selected value="None">Delivery</option>
                    <option value="True">Digital Download</option>
                    {% endif %}
                </select>
                {% endif %}
         
              
                
                <div class="my-3">
                    {% if item.product.product_type == 'container' %}
                    <h3>Linked Products</h3>
                    {% for image in item.item.linked_products %}
                    {% if item.product.product_type == 'container' %}                                      
                    <select name="edit-linked-product{{forloop.counter0}}" id="basket-linked-product" class="w-100 py3 my-2">
                        <option value="Not linked|No id|No item">Not linked</option> 
                        {% for product in products %} 
                        
                            {% if product.sku == image %}
                            <option value="{{product.image_url_mobile}}|{{product.id}}|inventory" selected>{{product.friendly_name}}</option> 
                            {% endif%} 
                        
                        <option value="{{product.image_url_mobile}}|{{product.id}}|inventory">{{product.friendly_name}}</option>
                        {% endfor %}
                        <option value="" disabled>User Photos</option>
                        {% for photo in user_photos %}
                        {% if photo.sku == image %}
                        <option value="{{photo.image}}|{{photo.id}}|upload" selected>Found upload</option>
                        {% endif%} 
                        <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% endfor %}
                     {% endif %}
                </div>
               
                <input type="hidden" name="basket_item_id" value="{{item.item.basket_item_id}}">
                <input type="hidden" name="product_id" value="{{item.item.item_id}}">
                <button type="submit" class="btn action-btn btn-lg col-12 rounded-0">Save changes</button>
                </form>
            </div>
            <div class="mt-3 text-center col-12 mb-3">
                <h5><a href="{% url 'delete_basket_item' item.item.basket_item_id %}" class=" col-12 btn-lg second-btn btn rounded-0" id="exampleModalLabel"><i class="fas fa-trash-alt"></i> Delete Basket Item</a></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn second-btn reset-modal-body rounded-0" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
    
    {% endfor %}
    {% for item in basket_items %}
    <div class="container basket-container d-none d-md-block d-lg-none">   
        <div class="row">
            <div class="col-md-12 mb-3">
               
                {% if item.item.repeats_found == 'None' %}
                 <p class="mb-0">{{ item.product.friendly_name}} </p>
                {% else %}
                  <p class="mb-0">{{ item.product.friendly_name}}</p>
                  <small><i class="fas fa-exclamation-triangle"></i> This products has repeated pictures associated with it.</small>
                {% endif %}
            </div> 
            <div class="col-6">
                <img class="img-fluid rounded thumbnail" src="{{ item.product.image_url_mobile }}" alt="Image of {{item.product.friendly_name}} " onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';"/>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <p class="basket-info">Qty: {{ item.item.quantity }}</p>
                    </div>
                    <div class="col-12">
                        <p class="basket-info">Price: £{{ item.product.discount_price }}</p>
                    </div>                         
                    <div class="col-12">
                        <p class="basket-info">SKU: {{ item.product.sku|upper }}</p>
                    </div>
                    <div class="col-12">
                        <p class="basket-info">Sub-total: £{{ item.subtotal }}</p>
                    </div>
                    <div class="col-12">
                        {% if item.digital_download == "on" %}
                            <p class="basket-info">Digital download</p>
                        {% else %}
                            <p class="basket-info">Delivery</p>
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="col-2" >
                <button type="button" class="btn second-btn" data-toggle="modal" data-target="#basketModal{{item.item.basket_item_id}}M">
                <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>                    
            

            {% if item.product.product_type == 'container' %}
                <div class="linked-products-basket-wrapper col-12">
                    <div>
                        <hr class="smaller-hr">
                        <p>Linked Products</p>
                    </div>
                    <div>
                        {%for g in item.item.linked_products%}
                            {% if g != 'Not linked' %}
                                {% if g != 'Not available' %}
                                    <div class="col-4 linked-products-div">
                                        <p>{{g}}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
        </div>
        <hr>
    </div>
    <!-- Edit basket Modal -->
    <div class="modal fade" id="basketModal{{item.item.basket_item_id}}M" tabindex="-1" role="dialog" aria-labelledby="basketModal{{item.item.basket_item_id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="editBasketHeader" class="modal-header editBasketBodyTrigger  text-center">
                <h3 class="modal-title w-100" id="exampleModalLabel">Edit Basket Item</h3>
            </div>
            <div id="editBasketModalBody" class="modal-body text-center pb-0 editBasketBody">
                <form method="POST" action="{%url 'edit_basket' %}">
                {% csrf_token%}
                <h3>Quantity</h3>
                <div class="input-group mb-3">
                    <input id="basket-item-quantity{{forloop.counter0}}" class="form-control  qty_input" type="number" name="basket_quantity" value="{{item.item.quantity}}" min="0" max="99" data-item_id="" >
                </div>
                
                {% if item.product.product_type == 'photo' %}
                <h3>Delivery Type</h3>
                <select name="basket_digital_download" class="form-control">
                    {% if item.digital_download == "on" %}
                    <option value="None">Delivery</option>
                    <option selected value="on">Digital Download</option>
                    {% else %}
                    <option selected value="None">Delivery</option>
                    <option value="True">Digital Download</option>
                    {% endif %}
                </select>
                {% endif %}
         
              
                
                <div class="my-3">
                    {% if item.product.product_type == 'container' %}
                    <h3>Linked Products</h3>
                    {% for image in item.item.linked_products %}
                    {% if item.product.product_type == 'container' %}                                      
                    <select name="edit-linked-product{{forloop.counter0}}" id="basket-linked-product" class="w-100 py3 my-2">
                        <option value="Not linked|No id|No item">Not linked</option> 
                        {% for product in products %} 
                        
                            {% if product.sku == image %}
                            <option value="{{product.image_url_mobile}}|{{product.id}}|inventory" selected>{{product.friendly_name}}</option> 
                            {% endif%} 
                        
                        <option value="{{product.image_url_mobile}}|{{product.id}}|inventory">{{product.friendly_name}}</option>
                        {% endfor %}
                        <option value="" disabled>User Photos</option>
                        {% for photo in user_photos %}
                        {% if photo.sku == image %}
                        <option value="{{photo.image}}|{{photo.id}}|upload" selected>Found upload</option>
                        {% endif%} 
                        <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% endfor %}
                     {% endif %}
                </div>
               
                <input type="hidden" name="basket_item_id" value="{{item.item.basket_item_id}}">
                <input type="hidden" name="product_id" value="{{item.item.item_id}}">
                <button type="submit" class="btn action-btn btn-lg col-12 rounded-0">Save changes</button>
                </form>
            </div>
            <div class="mt-3 text-center col-12 mb-3">
                <h5><a href="{% url 'delete_basket_item' item.item.basket_item_id %}" class=" col-12 btn-lg second-btn btn rounded-0" id="exampleModalLabel"><i class="fas fa-trash-alt"></i> Delete Basket Item</a></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn second-btn reset-modal-body rounded-0" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>
     {% endfor %}
    {% for item in basket_items %}
    <div class="container basket-container d-none d-md-none d-lg-block">
        <div class="row">
            <div class="col-md-12 mb-3">
              
                {% if item.item.repeats_found == 'None' %}
                 <p class="mb-0">{{ item.product.friendly_name}} </p>
                {% else %}
                  <p class="mb-0">{{ item.product.friendly_name}}</p>
                  <small><i class="fas fa-exclamation-triangle"></i> This products has repeated pictures associated with it.</small>
                {% endif %}
            </div> 
            <div class="col-4">
                <img class="img-fluid rounded thumbnail" src="{{ item.product.image_url_mobile }}" alt="Image of {{item.product.friendly_name}}" onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';"/>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12">
                        <p class="basket-info">Qty: {{ item.item.quantity }}</p>
                    </div>
                    <div class="col-12">
                        <p class="basket-info">Price: £{{ item.product.discount_price }}</p>
                    </div>                         
                    <div class="col-12">
                        <p class="basket-info">SKU: {{ item.product.sku|upper }}</p>
                    </div>
                    <div class="col-12">
                        <p class="basket-info">Sub-total: £{{ item.subtotal }}</p>
                    </div>
                    <div class="col-12">
                        {% if item.digital_download == "on" %}
                            <p class="basket-info">Digital download</p>
                        {% else %}
                            <p class="basket-info">Delivery</p>
                        {% endif%}
                    </div>
                </div>
            </div>
                              
            
            <div class="col-4">
            {% if item.product.product_type == 'container' %}
                
                    <div class="col-12 px-0">
                        
                        <p class="px-0">Linked Products</p>
                    </div>
                   
                   
                    <div class="container-fluid p-0">
                        <div class="row">
                            {% for image in item.item.linked_product_images_list %}
                                {% if image != "Not linked" %}
                                <div class="col-3 linked_product_image_wrapper" >
                                    <img class="linked_product_image_thumbnail" src="{{image}}" alt="Linked product image" onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';"/>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
            {% endif %}
             </div>
                 <div class="col-2" >
                    <button type="button" class="btn second-btn" data-toggle="modal" data-target="#basketModal{{item.item.basket_item_id}}L">
                    <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div> 
        </div>
        <hr>
    </div>
    <!-- Edit basket Modal -->
    <div class="modal fade" id="basketModal{{item.item.basket_item_id}}L" tabindex="-1" role="dialog" aria-labelledby="basketModal{{item.item.basket_item_id}}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="editBasketHeader" class="modal-header editBasketBodyTrigger text-center">
                <h3 class="modal-title w-100" id="exampleModalLabel">Edit Basket Item</h3>
            </div>
            <div id="editBasketModalBody" class="modal-body text-center pb-0 editBasketBody">
                <form method="POST" action="{%url 'edit_basket' %}">
                {% csrf_token%}
                <h3>Quantity</h3>
                <div class="input-group mb-3">
                    <input id="basket-item-quantity{{ forloop.counter0}}" class="form-control  qty_input" type="number" name="basket_quantity" value="{{item.item.quantity}}" min="0" max="99" data-item_id="" >
                </div>
                
                {% if item.product.product_type == 'photo' %}
                <h3>Delivery Type</h3>
                <select id="basket-item-delivery{{ forloop.counter0}}" name="basket_digital_download" class="form-control">
                    {% if item.digital_download == "on" %}
                    <option value="None">Delivery</option>
                    <option selected value="on">Digital Download</option>
                    {% else %}
                    <option selected value="None">Delivery</option>
                    <option value="True">Digital Download</option>
                    {% endif %}
                </select>
                {% endif %}
         
              
                
                <div class="my-3">
                    {% if item.product.product_type == 'container' %}
                    <h3>Linked Products</h3>
                    {% for image in item.item.linked_products %}
                    {% if item.product.product_type == 'container' %}                                      
                    <select name="edit-linked-product{{forloop.counter0}}" id="basket-linked-product" class="w-100 py3 my-2">
                        <option value="Not linked|No id|No item">Not linked</option> 
                        {% for product in products %} 
                        
                            {% if product.sku == image %}
                            <option value="{{product.image_url_mobile}}|{{product.id}}|inventory" selected>{{product.friendly_name}}</option> 
                            {% endif%} 
                        
                        <option value="{{product.image_url_mobile}}|{{product.id}}|inventory">{{product.friendly_name}}</option>
                        {% endfor %}
                        <option value="" disabled>User Photos</option>
                        {% for photo in user_photos %}
                        {% if photo.sku == image %}
                        <option value="{{photo.image}}|{{photo.id}}|upload" selected>Found upload</option>
                        {% endif%} 
                        <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    {% endfor %}
                     {% endif %}
                </div>
               
                <input type="hidden" name="basket_item_id" value="{{item.item.basket_item_id}}">
                <input type="hidden" name="product_id" value="{{item.item.item_id}}">
                <button type="submit" class="btn action-btn btn-lg col-12 rounded-0">Save changes</button>
                </form>
            </div>
            <div class="mt-3 text-center col-12 mb-3">
                <h5><a href="{% url 'delete_basket_item' item.item.basket_item_id %}" class=" col-12 btn-lg second-btn btn rounded-0" id="exampleModalLabel"><i class="fas fa-trash-alt"></i> Delete Basket Item</a></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn second-btn reset-modal-body rounded-0" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>

    {% endfor %}
    <!-- missing div below I think  -->
<div class="container">
    <div class="row">
         <div class="col-12 empty-basket-wrapper">
            <h4><a id="emptyBasket" class="text-link" href="{% url 'empty_basket' %}"><i class="fas fa-trash-alt"></i> Empty basket</a></h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 basket-summary-wrapper">
            <h6>Savings: £{{money_saved}}</h6>
            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h4 class=""><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_deficit > 0 %}
                <p class="mb-1 text-link">
                    You could get free delivery by spending just <strong>£{{ free_delivery_deficit }}</strong> more!
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row  extra-margin-bottom">
            <div class="col-12 checkout-button-wrapper">
                                    {% if are_all_items_linked == False %}
                                    <button type="button" class="col-12 col-md-6 btn action-btn btn-lg rounded-0" data-toggle="modal" data-target="#checkProductsModal">
                                    <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                    {% else %}
                                    <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="col-12 col-md-6 btn action-btn btn-lg rounded-0">
                                        <span>Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                    
                            
                                    {% endif %}
            </div>
                                    <div class="col-12 checkout-button-wrapper">
                                        <a href="{% url 'products' %}" class="col-12 col-md-6 btn second-btn rounded-0 btn-lg">
                                    <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                             </span>
                        <span>Keep Shopping</span>
                                         </a>
                        </div>
                </div> 
                </div>              
                {% else %}
                <div class="row text-center  extra-margin-bottom">
                    <div class="col-12">
                         <p class="lead mt-4 mb-5">Your bag is empty.</p>
                    </div>
                    <div class="col-12">
                    <a href="{% url 'products' %}" class="btn second-btn rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    </div>
                    
                </div> 
                   
                {% endif %}
       
    

   

 
<!-- Modal -->
    <div class="modal fade" id="checkProductsModal" tabindex="-1" role="dialog" aria-labelledby="checkProductsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkProductsModalLabel">Please check your products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="check-product-paragraph">1 or more of your products does not have a linked photograph. </p>
        <p>This means that if you have order a photo frame, canvas or calendar, they may arrive blank.</p>
      </div>
      <div class="modal-footer text-center px-4">
          <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="btn  mb-3 action-btn col-12 rounded-0 btn-lg">
                                        <span>Continue To Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
        <button type="button" class="btn mb-3 second-btn col-12 rounded-0 btn-lg" data-dismiss="modal"><i class="fas fa-chevron-left"></i> Return to basket</button>
    
      </div>
    </div>
  </div>
</div>
</main>
 {% include 'includes/footer.html' %}


{% endblock %}