{% extends "base.html" %}
{% load static %}

{% block content %}


<hr>
    <h2 class="logo-font basket-header">Shopping Basket</h2>
<hr>
     
{% if basket_items %}      
     {% for item in basket_items %}

    <div class="container basket-container">

    
     <div class="row">
            <div class="col-12">
                <p>{{ item.product.friendly_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <img class="img-fluid rounded thumbnail" src="{{ item.product.image_url_mobile }}">
            </div>
            <div class="col-2" >
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basketModal{{item.item.basket_item_id}}">
   <i class="fas fa-ellipsis-v"></i>
</button>
           
            </div>
        </div>
       
                <div class="row">
                    
                     <div class="col-6">
                           <p class="basket-info">Qty: {{ item.item.quantity }}</p>
                        </div>
                        <div class="col-6">
                         <p class="basket-info">Price: £{{ item.product.discount_price }}</p>
                    </div>
                        
                </div>
               
                <div class="row">
                    <div class="col-6">
                        <p class="basket-info">SKU: {{ item.product.sku|upper }}</p>
                    </div>
                    <div class="col-6">
                        <p class="basket-info">Sub-total: £{{ item.subtotal }}</p>
                       
                    </div>
                    
                </div>
                <div class="row">
                    
                   <div class="col-12">
                        {% if item.digital_download == "on" %}
                            <p class="basket-info">Digital download</p>
                        {% else %}
                            <p class="basket-info">Delivery</p>
                        {% endif%}
                    </div>
                    
                    
                </div>
                 {% if item.product.product_type == 'container' %}
                <div class="row linked-products-basket-wrapper">
                    <div class="col-12">
                        <hr class="linked-product-hr">
                        <p>Linked Products</p>
                    </div>
                    <div class="col-12">
                        <div class="row">
                        {%for g in item.item.linked_products%}
                                        {% if g != 'Not linked' %}
                                            {% if g != 'Not available' %}
                                        <div class="col-4 linked-products-div">
                                            <p>{{g}}</p>
                                        </div>
                                        {% endif %}
                                        {% endif %}
                                        {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr>
        </div>

    <!-- Edit basket Modal -->
<div class="modal fade" id="basketModal{{item.item.basket_item_id}}" tabindex="-1" role="dialog" aria-labelledby="basketModal{{item.item.basket_item_id}}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="editBasketHeader" class="modal-header editBasketBodyTrigger">
        <h5 class="modal-title " id="exampleModalLabel"><i class="fas fa-edit"></i> Edit Basket Item {{item.item.basket_item_id}} <i class="fas fa-chevron-down"></i></h5>
      </div>
      <div id="editBasketModalBody" class="modal-body editBasketBody hide">
        <form method="POST" action="{%url 'edit_basket' %}">
            {% csrf_token%}
            <h3>quantity for basket item  {{item.item.basket_item_id}}</h3>
          <div class="input-group">
                <input id="basket-item-quantity{{ forloop.counter0}}" class="form-control qty_input" type="number" name="basket_quantity" value="{{item.item.quantity}}" min="0" max="99" data-item_id="" >
            </div>
            
        <h3>digital </h3>
        <p class="my-0">Digital photo? {{ item.digital_download }}</p>
                                        {% if item.product.product_type == 'photo' %}
                                         <select id="basket-item-delivery{{ forloop.counter0}}" name="basket_digital_download" class="">
                                            {% if item.digital_download == "on" %}
                                            <option value="None">Delivery</option>
                                            <option selected value="on">Digital Download</option>
                                            {% else %}
                                            <option selected value="None">Delivery</option>
                                            <option value="True">Digital Download</option>
                                              {% endif %}
                                        </select>
                                        {% else %}
                                            <!-- This is the same ID because only one will show at a time.  -->
                                            <div class="hide">
                                                <select id="basket-item-delivery{{ forloop.counter0}}" name="" class="extraClass hide">
                                                    <option value="" class="hide"></option>
                                                </select>
                                            </div>
                                        {% endif%}
                <h3>linked</h3>
                <div id="" class="">This is what youre test
                                     {% for image in item.item.linked_products %}
                                     {% if item.product.product_type == 'container' %}
                                        
                                        <select name="edit-linked-product" id="basket-linked-product" class=" py3">
                                        
                                        {% for product in products %} 
                                        {% if product.sku == image %}
                                           <option value="{{product.image_url_desktop}}|{{product.id}}|inventory" selected>{{product.friendly_name}}</option>
                                        {% endif%}  

                                        <option value="{{product.image_url_desktop}}|{{product.id}}|inventory">{{product.friendly_name}}</option>
                                        {% endfor %}
                                        <option value="" disabled>User Photos</option>
                                        {% for photo in user_photos %}
                                        {% if photo.sku == image %}
                                           <option value="{{photo.image}}|{{photo.id}}|upload" selected>Found upload</option>
                                        {% endif%} 
                                        <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option>                                   
                                        {% endfor %}
                                    </select>
                                     
                                   {% endif %}
                                {% endfor %}
                               </div>
                    <input type="hidden" name="basket_item_id" value="{{item.item.basket_item_id}}">
                    <input type="hidden" name="product_id" value="{{item.item.item_id}}">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
      </div>
       <div class="modal-header">
        <h5><a href="{% url 'delete_basket_item' item.item.basket_item_id %}" class="modal-title" id="exampleModalLabel"><i class="fas fa-trash-alt"></i> Delete Basket Item</a></h5>
      </div>

    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary reset-modal-body" data-dismiss="modal">Close</button>
   
      </div>
    </div>
  </div>
</div> 
   
      {% endfor %}

<div class="container">
    <div class="row">
         <div class="col-12 empty-basket-wrapper">
            <h4><a href="{% url 'empty_basket' %}"><i class="fas fa-trash-alt"></i> Empty basket</a></h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 basket-summary-wrapper">
            <h6>Savings: £{{money_saved}}</h6>
            <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h4 class=""><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
            {% if free_delivery_deficit > 0 %}
                <p class="mb-1 text-danger">
                    You could get free delivery by spending just <strong>£{{ free_delivery_deficit }}</strong> more!
                </p>
            {% endif %}
        </div>
    </div>

    <div class="row">
            <div class="col-12 checkout-button-wrapper">
                                    {% if are_all_items_linked == False %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkProductsModal">
                                    <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                    {% else %}
                                    <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                    
                            
                                    {% endif %}
            </div>
                                    <div class="col-12 checkout-button-wrapper">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                    <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                             </span>
                        <span class="text-uppercase">Keep Shopping</span>
                                         </a>
                        </div>
                </div> 
                </div>              
                {% else %}
                <div class="row text-center">
                    <div class="col-12">
                         <p class="lead mt-4 mb-5">Your bag is empty.</p>
                    </div>
                    <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 keep-shopping-button btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    </div>
                    
                </div> 
                   
                {% endif %}
            </div>
        </div>
    </div>
    

   

 
<!-- Modal -->
    <div class="modal fade" id="checkProductsModal" tabindex="-1" role="dialog" aria-labelledby="checkProductsModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkProductsModalLabel">Please check your products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="check-product-paragraph">1 or more of your products does not have a linked photograph. </p>
        <p>This means that if you have order a photo frame, canvas or calendar, they may arrive blank.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal"><i class="fas fa-chevron-left"></i> Return to basket</button>
        <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="btn btn-success rounded-0 btn-lg">
                                        <span>Continue To Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
      </div>
    </div>
  </div>
</div>




{% endblock %}