{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
        

        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Delivery Type</th>


                                </tr>
                               
                            </thead>
                            
                            {% for item in basket_items %}
                            {{item}} 

                            
                            <tr>
                            <form method="POST" action="{% url 'edit_basket'%}">
                            {% csrf_token%}
                                
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image_url_mobile }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                        {% if item.item.repeats_found %}
                                        <p>{{item.item.repeats_found}}</p>
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p  class=" my-0">{{ item.item.quantity }}</p>
                                        <div class="input-group">
                                            <input id="basket-item-quantity{{ forloop.counter0}}" class="form-control qty_input hide" type="number" name="basket_quantity" value="{{item.item.quantity}}" min="0" max="99" data-item_id="" >
                                        </div> 
                                    </td>
                                    <td class="py-3 w-25">
                                       
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.subtotal }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">Digital photo? {{ item.digital_download }}</p>
                                         <select id="basket-item-delivery{{ forloop.counter0}}" name="basket_digital_download" class="extraClass hide">
                                            {% if item.digital_download == "Yes" %}
                                            <option value="None">Delivery</option>
                                            <option selected value="True">Digital Download</option>
                                            {% else %}
                                            <option selected value="None">Delivery</option>
                                            <option value="True">Digital Download</option>
                                              {% endif %}
                                        </select>
                                    </td>
                                    
                              
                                     <td id="linkedItemEdit">
                                      <!-- change this to sku as some point -->
                                     {% for image in item.item.linked_products %}
                                    
                                        <select name="edit-linked-product{{ forloop.counter0}}" id="basket-linked-product{{ forloop.counter0}}">
                                        
                                        {% for product in products %} 
                                        {% if product.sku == image %}
                                           <option value="{{product.image_url_desktop}}|{{product.id}}|inventory" selected>Found already chosen</option>
                                        {% endif%}  

                                        <option value="{{product.image_url_desktop}}|{{product.id}}|inventory">{{product.name}}</option>
                                        {% endfor %}
                                        <option value="" disabled>User Photos</option>
                                        {% for photo in user_photos %}
                                        <!-- {% if photo.title == image %}
                                           <option value="{{photo.image}}|{{photo.id}}|upload" selected>Found already chosen</option>
                                        {% endif%} 
                                        <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option> -->
                                        <option value="" >{{photo.title}}</option>
                                     
                                        <option value="" >{{image}}</option>
                                        
                                        
                                       
                                        {% endfor %}
                                    </select>
                                   
                                {% endfor %}
                                 </td>
                                    <td class="py-3">
                                        <div 
                                            onclick="updateBasket('edit-product-{{ forloop.counter0}}', 
                                                                'update-product-{{ forloop.counter0}}', 
                                                                'cancel-edit-product-{{ forloop.counter0}}',
                                                                'basket-item-quantity{{ forloop.counter0}}',
                                                                'basket-item-delivery{{ forloop.counter0}}',
                                                                'linkedItemEdit',
                                                                'update'
                                                                )" 
                                                                id="edit-product-{{ forloop.counter0}}" 
                                                                class="edit-basket-product my-0">
                                                                Edit
                                        </div>
                                    </td>
                                    <td class="py-3">
                                    {{item.item.basket_item_id}}
                                        <input type="hidden" name="basket_item_id" value="{{item.item.basket_item_id}}">
                                        <input type="hidden" name="product_id" value="{{item.item.item_id}}">
                                        <input type="submit" id="update-product-{{ forloop.counter0}}" value="input" href="" class="update-basket-product hide my-0">
                                    </td>
                                    <td class="py-3">
                                        <div onclick="updateBasket('edit-product-{{ forloop.counter0}}', 
                                                                    'update-product-{{ forloop.counter0}}', 
                                                                    'cancel-edit-product-{{ forloop.counter0}}',
                                                                    'basket-item-quantity{{ forloop.counter0}}',
                                                                    'basket-item-delivery{{ forloop.counter0}}',
                                                                    'linkedItemEdit',
                                                                    'cancel')" id="cancel-edit-product-{{ forloop.counter0}}" class="cancel-basket-edit hide my-0">Cancel</div>
                                    </td>
                                    </form>
                                {% if item.item.linked_product_image != "Not linked" %}
                                    <td>
                                        <a href="{% url 'delete_basket_item' item.item.basket_item_id %}">Remove</a>
                                    </td>
                                </tr>
                                {% endif %}

                                <tr>
                                
                                    <th>Linked Products</th>
                                </tr>
                                <tr>
                                {% for image in item.item.linked_product_images_list %}
                                    <td class="p-3 w-25">
                                         <img class="img-fluid rounded" src="{{image}}" alt="">
                                    </td>
                                    
                                    
                                      {% endfor %}
                                    <!--  -->
                                    
                                </tr>
                                
                                <tr>
                                    
                                                                           
                                        {%for g in item.item.linked_products%}
                                        {% if g != 'Not linked' %}
                                        <td class="p-3 w-25">
                                        <div>
                                        
                                          
                                                <p>{{g}}</p>
                                  
                                        </div>
                                         </td>
                                        {% endif %}
                                        {% endfor %}
                                </tr>
                                <tr>
                               
                                </tr>
                                
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_deficit > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>${{ free_delivery_deficit }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                <p>Delivery total: {{delivery_total}} </p>
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <p>all item are linked? {{are_all_items_linked}}</p>
                                    {% if are_all_items_linked == False %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                    <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </button>
                                    {% else %}
                                    <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>

                                    {% endif %}
                                    
                                </td>
                                
                            </tr>
                        </table>
                    </div>
                {% else %}
                      
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    

    <div>
        <a href="{% url 'empty_basket' %}">Empty basket</a>
    </div>
<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="checkoutButton" href="{% url 'condensing_basket' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}