body, html {
  height: 100%;
}

/* Parallax Settings */

.parallax {
  /* The image used */
  background-image: url('../media/product-images/bratislava.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxImage{
    height: 100vh;
}

.parallaxImageTextWrapper {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    color: black;
}

.static{
    height: 75vh;
}

/* Products */

.products {
    height: 100px;
}

