body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/* Tag settings */
a {
    color: #495057;
}

a:hover{
    text-decoration: none;
}

/* Nav */

.form-control-search{
    display: inline-block;
    width: 44%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#desktopDropDownMenu{
    display: none;
}

#desktopDropDownMenu a{
    display: block;
}

.input-group-search {
    width: 92%;
    float: right;
}

/* Footer */

footer{
    text-align: center;
}

.footer-hr{
    width: 65%;
    border-top: 1px solid blue;
}
/* Parallax Settings */

.parallax {
  /* The image used */
  background-image: url('../media/product-images/bratislava.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxImage{
    height: 100vh;
}

.parallaxImageTextWrapper {
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
    color: black;
}

.static{
    height: 75vh;
}

/* Products */

.products {
    height: 100px;
}

.product-image{
    width: 100%;
    object-fit: cover;   

}

.special-offer-badge{
    margin-bottom: 0.5rem;
}

.search-information{
    margin-top: 0.5rem;
}
/* Django Fields */

.hide {
    display: none;
}


/* Images */

