/* Background Colours */
.navbar, footer, .main-colour,.second-btn, .second-btn, 
.second-btn:hover, .second-btn:active, .second-btn:focus, 
.btn-danger:hover, .btn-danger:active, .btn-danger:focus, .special-offer-badge {
    background-color: #978b21;
}

.action-btn,.accordion>.card>.card-header {
    background-color: #212D97;
}

.action-btn:hover, .action-btn:active {
    background-color: rgb(27, 37, 129);
}

.form-control:focus {
    background-color: #fff;
}

.cat-links:hover, .cat-links:active, .cat-links:focus, .cat-links:focus-visible, 
.dropdown-item:hover, .dropdown-item:active, .account-dropdown{
    background-color: white;
}

.desktop-dropdown:hover, .desktop-dropdown:focus, .desktop-dropdown:focus-visible {
    background-color: #7c7217;
    color: white!important;    
}

/* Text colour */

.navbar, .navbar-light .navbar-brand, .navbar-light .navbar-toggler, footer p, footer, .dropdown-item, 
.footerHeader, .social-link, .navbar-light .navbar-nav .nav-link, .second-btn, .second-btn, 
.action-btn, .action-btn:hover, .action-btn:active, .second-btn:hover, .second-btn:active, 
.second-btn:focus, .btn-danger:hover, .btn-danger:active, .btn-danger:focus,
.accordion-header, .accordion-header:hover {
     color: white;
}

p, .product-name, h4, h4 a, .form-control:focus, .email, .order-number {
    color: black 
}

.signed-in {
    color: #212D97;
}

.desktop-dropdown, .text-link, .text-link a, .form-group a, .order-number:hover, .account-dropdown{
    color: #978b21;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Border colours */

.navbar-light .navbar-toggler, .white-hr, .nav-hr{
    border-color: white;
}

.action-btn {
    border-color: #212D97;
}

.action-btn:hover, .action-btn:active {
    border-color: rgb(27, 37, 129);
}

.second-btn:hover, .second-btn:active, .second-btn:focus, .btn-danger:hover, .btn-danger:active, 
.btn-danger:focus, select, select:focus, input {
    border-color: #7c7217;
}

.form-control:focus {
    border-color: #978b21;
}

/* Hover Effects */

.text-link:hover, .text-link:active, .text-link a:hover, .text-link a:active, .product-name:hover, 
.product-name:active{
    color: #7c7217;
}

.cat-links:hover, .cat-links:active, .dropdown-item:hover, .dropdown-item:active, .email:hover{
    color: #978b21!important;
    background-color: white;
}

.desktop-dropdown:hover, .desktop-dropdown:focus, .dropdown-menu .account-dropdown:hover, 
.account-dropdown:active, .account-dropdown:focus{
    color: white!important;
}

.account-dropdown:active, .account-dropdown:focus, .dropdown-menu .account-dropdown:hover{
    background-color: #978b21;
}

.social-icon:hover{
    transform: scale(1.2);
}

.action-btn:hover, .action-btn:active {
    box-shadow: 0 0 0 0.2rem rgb(27, 37, 129, 0.5);
}

.second-btn:hover, .second-btn:active, .second-btn:focus, .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .form-control:focus{
    box-shadow: 0 0 0 0.2rem rgba(124,114,23, 0.5);
}

.form-control:focus {
    outline: 0;
}

/* Feature styling */
.item-added-transition{
    animation: basket-glow 3s linear;
     
}

.btn-no-effects, .btn-no-effects:hover, .btn-no-effects:active, .btn-no-effects:focus{
    background-color: #212D97 ;
    color: white;
    border: none;
    box-shadow: none;    
}

@keyframes basket-glow{
    0%{
        color: white;
    }
    50% {
        color: #212D97;  
    }
    100% {
      color: white; 
    }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}