/* Background Colours */

.navbar, footer, .main-colour {
    background-color: #978b21;
}



/* Text colour */

.navbar, .navbar-light .navbar-brand, footer p, .footerHeader, .social-link, a, .dropdown-item, .navbar-light .navbar-nav .nav-link{
    color: white;
}

p, .product-name, .category-link a{
    color: black
}


.navbar-light .navbar-toggler-icon {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
}

.navbar-light .navbar-toggler{
    border-color: white;
    color: white;
}

/* Feature styling */

.white-hr, .nav-hr{
    border-color: white;
}