/* Background Colours */
.offer-bar{
    background-color: black;
}


/* Text colour */

.offer-bar{
    color: white;
}

p {
    color: blue;
}

.footerHeader, .static {
    color: red;
}

/* Feature styling */


