  
  <div id="availableDownloads">
       {% for download in digital_downloads_user %}
    {% if download.number_of_times_downloaded == False %}
  
    <div class="downloadItem">
        <p>Here is your {{download.name}}, {{download.sku}} . Click download to download!</p>
        <p>Product file path is: {{download.product_file_path}}</p>
        <p>It has been downloaded: {{download.number_of_times_downloaded}} times</p>
        
            <p>download id {{download.id}}</p>
        {% if download.number_of_times_downloaded == False %}
        <form method="POST" action="{% url 'counting_downloads' download.id %}" enctype="multipart/form-data">
            {% csrf_token %}
           
            <button type="submit" value="click">Click</button>
        </form>
        {% endif %}
    </div>
    {% if download.number_of_times_downloaded == True %}
      Already downloaded!
    {% endif %}
    {% endif %}
    {% endfor %}

    <h5> Previous downloads </h5>

    {% for accessed_download in digital_downloads_user %}
     {% if accessed_download.number_of_times_downloaded == True %}
      <div class="downloadItem">
        <p>{{accessed_download.name}}. Downloaded!</p>
    </div>
        
     {% endif %}
     {% endfor %}
   
 