
       <nav>

       <div class="container-fluid">
            <div class="row">
                <a class="nav-link col-2" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link col-2" href="{% url 'blogs' %}">Blog posts</a>

        <a class="navbar-brand col-4" href="#">Hidden Gems</a>
         <button class="btn btn-primary">
            <span class="">Login</span>
        </button>

         <a class="navbar-brand col-4" href="{% url 'profile'%}">Hidden Gems</a>
         <a class="navbar-brand col-4" href="{% url 'new_profile'%}">Profile page</a>
        
         <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                       
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if total %}
                                        ${{ total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
                    <a class="nav-link col-2" href="{% url 'view_basket' %}" id="allProducts">
                       <i class="fas fa-shopping-basket"></i>
                       <span>{{ total|floatformat:2 }}</span>
                    </a>
               
                    <a class="nav-link" href="#" id="allProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Wishlist
                    </a>
            
            
            
            </div>
            <div id="desktopExtraNavWrapper">
            <div class="row">
               <a id="desktopNavAllProducts" class="col-sm text-center desktop-nav-link" href="#">All products</a>
                <a id="desktopNavAllPhotographs" class="col-sm text-center desktop-nav-link" href="#">Photographs</a>
                <a id="desktopNavAllSearch" class="col-sm text-center desktop-nav-link" href="#">Search</a>
                <a id="desktopNavAllFramesAndCanvas" class="col-sm text-center desktop-nav-link" href="#">Frames and Canvas</a>
                <a id="desktopNavAllSpecialOffers" class="col-sm text-center desktop-nav-link" href="#">Special Offers</a>  
            </div>
            <div id="desktopDropDownMenu" class="row">
                <div class="col-sm text-center" aria-labelledby="allProducts">
                    <!-- refactor this code? -->
                        <a href="{% url 'products' %}?sort=price&direction=asc" class="">Price</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="">Rating</a>    
                        <a href="{% url 'products' %}" class="">All products</a>                    
                    </div>

                     <div class="col-sm text-center" aria-labelledby="photographsDropdown">
                    <!-- refactor this code?  Refactor all the menus with potential loops of names and then friendly name - would have to
                    hide the no offer ones though. -->
                        <a href="{% url 'products' %}?category=landscapes" class="">Landscapes</a>
                        <a href="{% url 'products' %}?category=insects" class="">Insects</a>
                        <a href="{% url 'products' %}?category=animals" class="">Animals</a>
                        <a href="{% url 'products' %}?category=flowers" class="">Flowers</a>
                    </div>

                      <div id="desktopExtendedSearchBar" class="col-sm text-center" aria-labelledby="searchProducts">
                    <!-- refactor this code? -->
                        <form method="GET" action="{% url 'products' %}" class="row">
                            <input class="form-control col-8" name="q" type="search" placeholder="Search products" aria-label="Search">
                            <button class="btn btn-outline-success col-4" type="submit">Search</button>
                        </form>                 
                </div>
                    <div class="col-sm text-center" aria-labelledby="containersDropdown">
                    <!-- refactor this code? -->
                        <a href="{% url 'products' %}?category=canvas" class="">Canvases</a>
                        <a href="{% url 'products' %}?category=photo_frame" class="">Photo frames</a>
                        <a href="{% url 'products' %}?category=calendars" class="">Calendars</a>
                    </div>


              

                <div class="col-sm text-center" aria-labelledby="photographsDropdown">
                    <!-- refactor this code? -->
                        <!-- Are these okay as multi-buy with hyphen etc? Deinitely change the new photos
                        and make them all consistent. -->
                        <a href="{% url 'products' %}?special_offer=editors_pick" class="">Editor's Pick!</a>
                        <a href="{% url 'products' %}?special_offer=new_photos" class="">New photographs!</a>
                        <a href="{% url 'products' %}?special_offer=clearance" class="">Clearance</a>
                        <a href="{% url 'products' %}?special_offer=no_offer" class=""> All special offers</a>
                    </div>
                </div>            
            </div>
   
        </div>
    </nav>
   

