<footer>
    <div class="container-fluid d-lg-none">
        <div class="row ">
            <div class="col-12">
                 <hr class="smaller-hr white-hr">
                <h5 class="footerHeader">Contact us</h5>
                <hr class="smaller-hr white-hr">
            </div>
            <div class="col-12 order-sm-2 col-sm-6 order-md-1 col-md-6">
                <p class="footerContact">Email: </p>
                <p class="footerContact">hiddengems@gmail.com</p>
            </div>
            
            <div class="col-12 order-sm-2 col-sm-6 order-md-2 col-md-6">
                <p class="footerContact">Phone: </p> 
                <p class="footerContact">05093718992</p>
               
            </div>
            <div class="col-12 order-sm-3 order-md-3  text-center">
                <ul class="text-center social-ul">
                    <li class="social-link"> <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin social-icon fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-12 order-sm-4 order-md-4">
                <p class="footerContact"><small>© Copyright 2020</small></p>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none d-md-none d-lg-block">
        <div class="row ">
            <div class="col-12 pt-3 mb-2">
                <hr class="smaller-hr white-hr">
                <h5 class="footerHeader text-center">Contact us</h5>
                <hr class="smaller-hr white-hr">
            </div>
        
            <div class="col-4 text-center">
                <email class="email">Email: <a href="mailto:hiddengemsshoponline@gmail.com">hiddengemsshoponline@gmail.com</a></email>
            </div>
            <div class="col-4 text-center">
                <ul class="text-center social-ul">
                    <li class="social-link"> <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square social-icon fa-2x"></i></a></li>
                    <li class="social-link"><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin social-icon fa-2x"></i></a></li>
                </ul>
            </div>
            <div class="col-4 text-center">
                <tel class="tel">Phone: 05093718992</tel>
            </div>
        
        <!-- Should this be in the middle? -->
        <div class="col-12 pb-2">
            <p class="footerContact"><small>© Copyright 2020</small></p>
        </div>
        </div>
    </div>
</footer>