{% load profiles_extra %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div class="row nav-row">
            {% if request.user.is_authenticated %}
                <button class="navbar-toggler col-2 text-black nav-link" type="button" data-toggle="collapse" data-target="#navbarLoginContent" aria-controls="navbarLoginContent" aria-expanded="false" aria-label="Toggle login">
                    <span><i class="fas fa-user fa-lg signed-in"></i></span>
                </button>    
            {% else %}         
                <button class="navbar-toggler col-2 text-black nav-link" type="button" data-toggle="collapse" data-target="#navbarLoginContent" aria-controls="navbarLoginContent" aria-expanded="false" aria-label="Toggle login">
                    <span><i class="fas fa-user fa-lg "></i></span>
                </button>  
            {% endif %}
            <a class="logo-title col-6 text-center" href="{% url 'home' %}">Hidden Gems</a> 
            <a class="nav-link col-4 px-0 text-center" href="{% url 'view_basket' %}" id="basketMobileNavLink">
                <i class="fas fa-shopping-basket item-added-transition fa-lg"></i>
                <span class="basket-total-span"> £ {{ total|floatformat:2 }}</span>
            </a>
       
            <div class="col-12 col-lg-4 my-auto px-0 py-1 py-lg-0">
                <div class="collapse navbar-collapse" id="navbarLoginContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            {% if request.user.is_authenticated %}
                                {% if request.user|has_group:"retail_assistant" %} 
                                    <a href="{% url 'admin_profile_page' %}" class="dropdown-item">Admin</a>          
                                {% endif %}

                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>

                            {% else %}

                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>  

                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
          
    <div class="container-fluid ">
        <div class="row nav-row">
            <button class="navbar-toggler col-2 col-md-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 

            <div id="extendedSearchBar" class="col-10 col-md-7">        
                <form method="GET" action="{% url 'products' %}" class="input-group input-group-search">
                    <input class="form-control form-control-search" name="q" type="search" placeholder="Search" aria-label="Search">          
                    <button class=" btn action-btn nav-search-button" type="submit"><i class="fas fa-search"></i></button>
                </form>   
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                   <a class="nav-link" href="{% url 'home' %}">Home </a>
                </li>   

                <li class="nav-item dropdown">
                    <a class=" nav-link cat-links" href="#" id="specialOffersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Special Offers <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu border-0 pl-3" aria-labelledby="specialOffersDropdown">
                        <a href="{% url 'products' %}?special_offer=new_photos" class="dropdown-item">New photographs!</a>
                        <a href="{% url 'products' %}?special_offer=editors_pick" class="dropdown-item">Editor's Pick!</a>
                        <a href="{% url 'products' %}?special_offer=clearance" class="dropdown-item">Clearance</a>
                        <a href="{% url 'products' %}?special_offer=no_offer" class="dropdown-item">All Special Offers</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link cat-links" href="#" id="allProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       All Products <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu border-0 pl-3" aria-labelledby="allProducts">
                        <a href="{% url 'products' %}?sort=discount_price&direction=asc" class="dropdown-item">Price</a>
                        <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">Rating</a>
                        <a href="{% url 'products' %}" class="dropdown-item">All products </a>                        
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link cat-links" href="#" id="photographsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Photographs <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu border-0 pl-3" aria-labelledby="photographsDropdown">
                        <a href="{% url 'products' %}?category=landscapes" class="dropdown-item">Landscapes</a>
                        <a href="{% url 'products' %}?category=insects" class="dropdown-item">Insects</a>
                        <a href="{% url 'products' %}?category=animals" class="dropdown-item">Animals</a>
                        <a href="{% url 'products' %}?category=flowers" class="dropdown-item">Flowers</a>
                        <a href="{% url 'photo_products' %}" class="dropdown-item">All photographs</a>  
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link cat-links" href="#" id="containersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Accessories <i class="fas fa-chevron-down"></i>
                    </a>
                    <div class="dropdown-menu border-0 pl-3" aria-labelledby="containersDropdown">
                        <a href="{% url 'products' %}?category=canvas" class="dropdown-item">Canvases</a>
                        <a href="{% url 'products' %}?category=photo_frame" class="dropdown-item">Photo frames</a>
                        <a href="{% url 'products' %}?category=calendars" class="dropdown-item">Calendars</a>
                        <a href="{% url 'container_products' %}" class="dropdown-item">All accessories</a>
                    </div>
                </li>
              
            </ul>
        </div>            
    </div>
</nav>
            
     