{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container margin-header-wrapper">
        <div class="row">
            <div class="col-12 col-md-6 text-center mt-0">
                <hr>
                <h2 class="logo-font mb-3">Add Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_blog' %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-success btn-lg rounded-0 mb-3 col-12" type="submit">Add Blog</button>
                        <a class="btn btn-primary btn-lg rounded-0 col-12" href="{% url 'products' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% include 'includes/footer.html' %} 
{% endblock %}