{% extends 'base.html' %}
{% load static %}

{% block pageContent %}
<div class="container">
    <div class="row">
        <div class="col-12"> Hidden Gem's Blog Space</div>
        <div class="col-12">Thank you for showing an interest in this product. Here is the story behind it.</div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4"><p>Location</p></div>
                <div class="col-8"><p>Slovakia</p></div>
            </div>
            <div class="row">
                <div class="col-4"><p>Camera</p></div>
                <div class="col-8"><p>Canon</p></div>
            </div>
            <div class="row">
                <div class="col-4"><p>Date</p></div>
                <div class="col-8"><p>20/4/2019</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            <h5>The Story Behind the Picture</h5>
            <p>This was one of the most difficult of photos to get right.</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}