{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12"> Hidden Gem's Blog Space</div>
        <div class="col-12">Thank you for showing an interest in this product. Here is the story behind it.</div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for blog in blogs %}
            <div class="col-12 d-md-none"><img class="product-image" src="{{blog.image_mobile_url.image_url_mobile}}" alt=""></div>
            <div class="col-12 d-md-block"><img class="product-image" src="{{blog.image_desktop_url.image_url_desktop}}" alt=""></div>
            <div class="row">
                <div class="col-12"><p>{{blog.title}}</p></div>
                
            </div>
            <div class="row">
                <div class="col-12"><p>{{ blog.location }}</p></div>
            </div>
            <a class="d-md-block" href="{% url 'blog_detail' blog.id %}">
                More details on the blog
            </a>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}