{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-12"><h5>Hidden Gem's Blog Space</h5></div>
<div class="container">
    <div class="row">
        
        <div class="col-12">Thank you for showing an interest in this product. Here is the story behind it.</div>
    </div>
          
    <div class="row">
        <div class="col-12">{{blog.title}}</div>
        <div class="col-12 d-md-none"><img class="product-image" src="{{blog.image_mobile_url.image_url_mobile}}" alt=""></div>
            <div class="col-12 d-none d-sm-none d-md-block"><img class="product-image" src="{{blog.image_desktop_url.image_url_desktop}}" alt=""></div>
        <div class="col-12">
            <p>{{blog.story}}"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                officia deserunt mollit anim id est laborum."
            </p> 
         </div>

     </div>
    
    {% if blog.product %}
    <div class="row">
        <a class="col-6 btn btn-primary" href="{% url 'blogs' %}"> All blogs </a>
        <a class="col-6 btn btn-primary" href="{% url 'product_detail' product.id %}"> Product details </a>
     </div>
    {% else %}
    <div>
        <p>Sorry but this product is no longer available. Please browse our other products and blogs.</p>
    </div>
     <div class="row">
        <a class="col-6 btn btn-primary" href="{% url 'blogs' %}"> All blogs </a>
        <a class="col-6 btn btn-primary" href="{% url 'products' %}"> All products </a>
     </div>
     {% endif %}
     
    
</div>

{% endblock %}