{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container margin-header-wrapper main-section-container">
        <div class="row">
            <div class="col-12 text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">Edit Blog</h2>
                <hr>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 extra-margin-bottom">
                <form method="POST" action="{% url 'edit_blog' blog.id %}" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-right">
                        <button class="btn btn-success btn-lg rounded-0 mb-3 col-12" type="submit">Update Blog</button>
                        <a class="btn btn-primary btn-lg rounded-0 col-12"  href="{% url 'blogs' %}">Cancel</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% include 'includes/footer.html' %} 
{% endblock %}