{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="container margin-header-wrapper main-section-container mb-3">
    <div class="row">
        <div class="col-12 text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">{% trans "Account Inactive" %}</h2>
                <hr>
        </div>
        <div class="col-12 text-center">
            <p>{% trans "This account is inactive." %}</p>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
