{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container margin-header-wrapper main-section-container mb-3">
    <div class="row">
        <div class="col-12  text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">{% trans "Confirm E-mail Address" %}</h2>
                <hr>
        </div>
        <div class="col-12 col-xl-8 offset-xl-2">
            {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class="text-link" href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                    <button class="primaryAction btn btn-success btn-lg rounded-0 mb-3 col-12" type="submit">{% trans 'Confirm' %}</button>
                </form>

                {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
