{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container margin-header-wrapper main-section-container mb-3">
    <div class="row">
        <div class="col-12 text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">{% trans "Login" %}</h2>
                <hr>
        </div>
    </div>
    <!-- Add messages container here!! -->
    <div class="row">
        <div class="col-12 text-center">
            <p>
                {% blocktrans %}
                If you have not created an account yet, then please
                <a class="text-link" href="{{ signup_url }}">sign up</a> first.
                {% endblocktrans %}
            </p>
        </div>
        <div class="col-12 col-xl-8 offset-xl-2">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn action-btn btn-lg rounded-0 mb-3 col-12" type="submit">{% trans "Sign In" %}</button>
                <div class="text-center">
                    <a class="button secondaryAction text-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}
{% endblock %}
