{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container margin-header-wrapper main-section-container mb-3">
    <div class="row mb-3">
        <div class="col-12 text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">{% trans "Sign Up" %}</h2>
                <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </div>
        <div class="col-12">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="primaryAction btn btn-success btn-lg rounded-0 mb-3 col-12" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
</div>
    

{% include 'includes/footer.html' %}
{% endblock %}
