{% extends "account/base.html" %}

{% load i18n %}



{% block content %}
<div class="container margin-header-wrapper main-section-container mb-3">
    <div class="row mb-3">
        <div class="col-12 text-center extra-margin-top">
                <hr>
                <h2 class="logo-font mb-3">{% trans "Verify Your E-mail Address" %}</h2>
                <hr>
        </div>
        <div class="col-12 col-md-6 text-center">
                <hr>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                <hr>
        </div>
    </div>
</div>
{% include 'includes/footer.html' %}
{% endblock %}
