{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock%}
    <!-- Do you need this? -->
    {% block additionMeta %}
    {% endblock %}


    {% block frameworkCSS %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static 'css/base.css' %}">  
    {% endblock %}
    {% block additionCSS %}     
   
    {% endblock %}
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hidden Gems</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
     

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog posts</a>
                </li>
            </ul>
        </div>
           <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search products" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="login">Login</div>
            <div class="basket">Basket</div>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="allProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       All Products
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="allProducts">
                    <!-- refactor this code? -->
                        <a href="" class="dropdown-item">All products</a>
                        <a href="" class="dropdown-item">Price</a>
                        <a href="" class="dropdown-item">Rating</a>                        
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="containersDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Containers
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="containersDropdown">
                    <!-- refactor this code? -->
                        <a href="" class="dropdown-item">Canvases</a>
                        <a href="" class="dropdown-item">Photo frames</a>
                        <a href="" class="dropdown-item">Calendars</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photographsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Photographs
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="photographsDropdown">
                    <!-- refactor this code? -->
                        <a href="" class="dropdown-item">Landscapes</a>
                        <a href="" class="dropdown-item">Insects</a>
                        <a href="" class="dropdown-item">Animals</a>
                        <a href="" class="dropdown-item">Flowers</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photographsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Special Offers
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="photographsDropdown">
                    <!-- refactor this code? -->
                        <a href="" class="dropdown-item">New photographs!</a>
                        <a href="" class="dropdown-item">Multi-buy</a>
                        <a href="" class="dropdown-item">Clearance</a>
                        <a href="" class="dropdown-item">All special offers</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="offer-bar">10% Off for new customers!</div>

    {% if messages %}
    <div class="djangoMessageContainer"></div>
    {% endif %}

    {% block pageHeader %}
    {% endblock %}

    {% block pageContent %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row ">
                <div class="col-12">
                    <h6 class="footerHeader">Contact us</h6>
                </div>
                <div class="col-12 col-md-6 col-lg-4 offset-lg-3">
                    <p class="footerContact">Email: </p>
                    <p class="footerContact">emailaddress@gmail.com</p>
                </div>
                <div class="col-12  col-md-6 col-lg-4">
                    <p class="footerContact">Phone: </p> 
                    <p class="footerContact">05093718992</p>
                </div>
                <div class="col-12">
                    <p class="footerContact"><small>© Copyright 2020</small></p>
                </div>
            </div>
        </div>
    </footer>

    {% block frameworkJS %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}
    {% block additionJS %}
    {% endblock %}
  </body>
</html>
