{% extends 'base.html' %}
{% load static %}

{% block pageContent %}
    <section>
    <div class="container product-container">
        <div class="row">
           
                <div class="card col-12 col-md-6 col-lg-4 shadow p-3 mb-5 bg-white rounded">
                    <a class="d-md-none" href="{{product.image_url_mobile}}" target="_blank">
                        <img src="{{product.image_url_mobile}}" class="card-img-top" alt="{{product.name}}">
                    </a>
                    <a class="d-md-block" href="{{product.image_url_desktop}}" target="_blank">
                        <img src="{{product.image_url_desktop}}" class="card-img-top" alt="{{product.name}}">
                    </a>
                    <div class="card-body">
                        <span class="badge badge-secondary">{{product.special_offer}}</span>
                        <p class="card-text">{{product.name}}</p>
                        <p class="card-text">£{{product.price}}</p>
                        <p class="card-text">{{product.rating}}/5</p>
                    </div>
                 </div>

       
        
        
        
        </div>
        <div class="row">
            <form method="POST">
            {% csrf_token%}
                <input type="number" name="quantity" value="1" data-item_id="{{product_id}}" id="{{product_id}}">
                <a href="{% url 'products' %}"><span>Keep Shopping</span></a>
                <button tpye="submit">Add bag</button>
                <input type="hidden" name="redirect_url" value="{{request.path}}">
            </form>
        </div>

    </div>
    </section>

{% endblock %}