{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container margin-header-wrapper">
    <div class="row">
        <div class="card product-detail-card col-12  mt-3 col-md-6 col-lg-4 shadow p-3 mb-3 rounded">
            <a class="d-md-none" href="{{product.image_url_mobile}}" target="_blank">
                <img src="{{product.image_url_mobile}}" class="card-img-top" alt="{{product.friendly_name}}">
            </a>
            <a class="d-md-block d-none" href="{{product.image_url_desktop}}" target="_blank">
                <img src="{{product.image_url_desktop}}" class="card-img-top" alt="{{product.friendly_name}}">
            </a>
            <div class="card-body">   
                {% if product.special_offer.friendly_name != None %}
                    <span class="badge badge-secondary special-offer-badge p-2">{{product.special_offer.friendly_name}}</span>
                {% else %}
                    <span class="badge "></span>
                {% endif %}
                <p class="card-text product-name">{{product.friendly_name}}</p>
                <p class="card-text">            
                    {% if product.price != product.discount_price %} 
                        <span class="strikethrough-price"> <s> £{{product.price}} </s></span> <span> £{{product.discount_price}} </span>
                    {% else %}
                        <span> £{{product.price}} </span> 
                    {% endif %}
                </p>
                <h5>Reviews</h5>
                {% if product.number_of_ratings != 0 %}
                    <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                    <div id="productReview" class="review-wrapper">
                        {% include 'reviews/includes/product_review_list.html' %}
                    </div>
                {% else %}
                    <p class="card-text">This product hasn't been rated yet.</p>
                {% endif %}
                    <a href="{% url 'add_review' product.id %}"><i class="fas fa-plus"></i> Add review</a>
            </div>
        </div>
        {% if product_type_for_linking == "container" %}
            <div class="card col-12  mt-3 order-md-3 col-md-12 col-lg-4 shadow p-3 mb-3 rounded text-center">
                <h4 class="my-3">Upload your own images to use!</h4>
                {% if product_type_for_linking == "container" %}
                    <form method="POST" action="{% url 'image_upload' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-success btn-lg rounded-0 col-12" type="submit">Upload <i class="fas fa-upload"></i></button>
                    </form>
                {% endif %}             
            </div>
        {% endif %}
        <div class="card product-detail-card  col-12  mt-3 order-md-2 col-md-6 col-lg-4 shadow p-3 mb-3 rounded text-center">
            <form method="POST" action="{% url 'add_to_basket' product.id %}">
                {% csrf_token%}        
                <div id="productQuantity" class="">
                    <h4 class="my-3">Quantity</h4>
                    <div class="input-group mb-3">
                        <button class="btn" data-item_id="{{ item.item_id }}" id="decreaseProductDetailQuantity">
                            <span><i class="fas fa-minus fa-sm"></i></span>
                        </button>  
                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="0" max="99" data-item_id="{{ product.id }}" id="productDetailQty">
                        <button class="btn" data-item_id="{{ item.item_id }}" id="increaseProductDetailQuantity">
                            <span><i class="fas fa-plus fa-sm"></i></span>
                        </button>  
                    </div>
                </div>
                {% if product_type_for_linking == "container" %}
                    <h4 id="linkedPhotoLabel">Link with photo</h4>
                    {% for number in number_of_pictures_loop %}
                        <select name="linked_product{{number}}" class="linkingProductSelect">
                            <option value="Not linked|No id|No item">Not linked</option>
                            <!-- Can you categorise these so they can have little headers? -->
                            {% for link in linked_product %}
                            <!-- This should be based on screen size -->
                                <option value="{{link.image_url_desktop}}|{{link.id}}|inventory">{{link.friendly_name}}</option>
                            {% endfor %}
                            <!-- Change this to user's name and give a bottom border-->
                            <option value="" disabled>User Photos</option>
                            {% for photo in user_photos %}
                                <option value="{{photo.image}}|{{photo.id}}|upload">{{photo.title}}</option>
                            {% endfor %}
                       </select>
                    {% endfor %}
                    <!-- This image  -->
                    <div>
                        <a id="linkedProductImagePreview" class="" href="" target="_blank">
                            <img id="linkImageSelection" src="" class="card-img-top product-name" alt="{{link.name}}">
                        </a>
                    </div>                            
                {% endif %}                  
                {% if product.digital_download %}
                    <div class="col-12">
                        <label class="mb-3" for="digital_download">Digital download?</label>
                        <input id="deliveryTypeCheckbox" type="checkbox" name="digital_download">
                    </div>
                {% endif %}
                     
                <button id="addToBasket" class="btn col-12 btn-outline-black rounded-0 btn-lg btn-success mb-3" type="submit">
                    Add to basket
                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                </button>
                <a href="{% url 'products' %}" class="btn col-12 btn-outline-black btn-primary rounded-0 btn-lg mb-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="">Keep Shopping</span>
                </a>
                <input type="hidden" name="redirect_url" value="{{request.path}}">             
            </form>
        </div>
    <!-- Here are the row and container end divs -->
    </div>
</div>



















        
     
             
        
 


{% include 'includes/footer.html' %}
{% endblock %}


