{% extends 'base.html' %} {% load static %} {% load mathfilters %} 
{% block content %}
<section>
  <div class="container margin-header-wrapper product-container">
    <div class="row search-information">
        

      <div class="col-12 text-center mt-3">
          
        <p>{{products|length}} product(s){% if search_term %} found for "{{search_term}}"</p>
        
        {% endif %}
      </div>
     
    </div>
    <div class="row">
      {% for product in products %}
      <div class="card all-products-card  col-12 col-md-6 col-lg-4 shadow p-3 mb-4 rounded">
        <div class="image-wrapper">
        <a class="d-md-none" href="{% url 'product_detail' product.id %}">
          <img
            src="{{product.image_url_mobile}}"
            class="card-img-top product-card-image "
            alt="{{product.friendly_name}}"
          />
        </a>
        <a class="d-md-block d-none " href="{% url 'product_detail' product.id %}">
          <img
            src="{{product.image_url_desktop}}"
            class="card-img-top product-card-image"
            alt="{{product.friendly_name}}"
          />
        </a>
        </div>
        <div class="card-body">
             {% if product.special_offer.friendly_name != None %}
          
          <p class="badge badge-secondary special-offer-badge p-2">{{product.special_offer.friendly_name}}</p>

             
             
         
        
              {% endif %}
            <div>
            <a class="card-text product-name" href="{% url 'product_detail' product.id %}">{{product.friendly_name}}</a>

          <p class="card-text">
            
            {% if product.price != product.discount_price %} 
            <span class="strikethrough-price"> <s> £{{product.price}}  </s></span> <span>  £{{product.discount_price}} </span>
            {% else %}
            <span> £{{product.price}} </span> 
            {% endif %}
          </p>

          {% if product.number_of_ratings != 0 %}
                        <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                        {% else %}
                        <p class="card-text">This product hasn't been rated yet.</p>
                        {% endif %}
          <p class="category-link" >
            <a href="{% url 'products' %}?category={{product.category.name}}"
              >{{product.category.friendly_name}}</a
            >
          </p>
        </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include 'includes/footer.html' %}
 {% endblock %}
