<hr>
<h4 class="text-center">Reviews</h4>
<hr class="smaller-hr">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for r in review %} 
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="text-center">
                            <p> {{ r.product.friendly_name }}</p>
                            <p><i class="fas fa-star"></i> {{ r.review_rating }}/5</p>
                            <p>  {{ r.review_content }}</p> 
                        
                            <a class="btn action-btn rounded-0 mx-2" href="{% url 'edit_review' r.id %}"> <i class="fas fa-edit"></i><span class="buttonText"> Edit</span></a>
                            <button type="button" class="btn second-btn mx-2 rounded-0" data-toggle="modal" data-target="#deleteReviewNumber{{r.id}}">
                                <i class="fas fa-trash-alt"></i><span class="buttonText"> Delete</span>
                            </button>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteReviewNumber{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteReviewNumber{{r.id}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteReviewNumber{{r.id}}Label">Are you sure you want to remove this?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    
                            <div class="modal-footer">
                                <button type="button" class="btn second-btn rounded-0 btn-lg" data-dismiss="modal">Close</button>
                                <a id="checkoutButton" href="{% url 'delete_review' r.id %}" class="btn action-btn rounded-0 btn-lg">
                                    <span class="">Delete Photo <i class="fas fa-chevron-right"></i></span>                          
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                
                
                    <div class="col-12 d-md-none">
                        <hr class="smaller-hr">
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-md-block d-lg-none">
                            <hr class="smaller-hr">
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block">
                            <hr class="smaller-hr">
                        </div>
                    {% endif %}
                {% endfor %}
              
            </div>
                
        </div>
    </div>

        
