<hr>
<h4 class="text-center">Reviews</h4>
        {% for r in review %}              
            <hr>
                <div class="text-center">
                    <p> {{ r.product.friendly_name }}</p>
                    <p><i class="fas fa-star"></i> {{ r.review_rating }}/5</p>
                    <p>  {{ r.review_content }}</p> 
                
                    <a class="btn btn-primary" href="{% url 'edit_review' r.id %}"> <i class="fas fa-edit"></i><span class="buttonText"> Edit</span></a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteReviewNumber{{r.id}}">
                        <i class="fas fa-trash-alt"></i><span class="buttonText"> Delete</span>
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="deleteReviewNumber{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteReviewNumber{{r.id}}ModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteReviewNumber{{r.id}}Label">Are you sure you want to remove this?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded-0 btn-lg" data-dismiss="modal">Close</button>
                                <a id="checkoutButton" href="{% url 'delete_review' r.id %}" class="btn btn-success rounded-0 btn-lg">
                                    <span class="">Delete Photo <i class="fas fa-chevron-right"></i></span>                          
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
{% endfor %}

        <hr>